<h1 id="filtering">Filtering</h1>
<p><a href="http://robottini.altervista.org/kalman-filter-vs-complementary-filter"></a><a href="http://robottini.altervista.org/kalman-filter-vs-complementary-filter">http://robottini.altervista.org/kalman-filter-vs-complementary-filter</a></p>
<p><a href="http://www.instructables.com/id/PCB-Quadrotor-Brushless/step15/IMU-Part-2-Complementary-Filter/"></a><a href="http://www.instructables.com/id/PCB-Quadrotor-Brushless/step15/IMU-Part-2-Complementary-Filter/">http://www.instructables.com/id/PCB-Quadrotor-Brushless/step15/IMU-Part-2-Complementary-Filter/</a></p>
<p><a href="http://web.mit.edu/scolton/www/filter.pdf"></a><a href="http://web.mit.edu/scolton/www/filter.pdf">http://web.mit.edu/scolton/www/filter.pdf</a></p>
<p><a href="http://www.pieter-jan.com/node/11"></a><a href="http://www.pieter-jan.com/node/11">http://www.pieter-jan.com/node/11</a></p>

