<h1 id="quadcopterflightcontrol">QuadcopterFlightControl</h1>
<p>This is a quadcopter flight control board base on <a href="https://github.com/Hom19910422/QCopterFlightControl">QCopterFlightControl2.0</a>.    In this version, we design new software which include FreeRTOS, a kind of real-time OS. That means we could manage manay task and implement mult-thread application. User can see the sensor status when you try to design or monitor you rotor. A special designed shell enironment could help user to send some command or do some actions on rotors.</p>
<h1 id="license">License</h1>
<ul>
<li><p>The <a href="https://github.com/Hom19910422/QCopterFlightControl">QCopterFlightControl</a> project is auorized by <a href="Hom19910422@gmail.com">Hom19910422</a></p>
</li>
<li><p>The <a href="https://github.com/antirez/linenoise">lineoise</a> is auorized under BSD License and release by <a href="antirez@gmail.com">antirez</a></p>
</li>
</ul>
<h1 id="features">Features</h1>
<ul>
<li>Support commercial R/C remoter(Futaba R/C)</li>
<li>Support linenoise text editing environment with a Shell</li>
<li>Online tuning PID parameters</li>
<li>Report the status of the QuadCopter</li>
</ul>
<h1 id="shell-commands">Shell commands</h1>
<ul>
<li>clear - Clear the screen</li>
<li>help - The informations of the shell</li>
<li>monitor - A QuadCopter Status Monitor</li>
<li>ps - Show all processes [Block]</li>
</ul>
<h1 id="quadcopter-status-monitor">QuadCopter Status Monitor</h1>
<p>After enable the command line, you can type :</p>
<ul>
<li>resume - Disable the commandline mode</li>
<li>reset - Drop the unsaved settings<ul>
<li>reset [quadcopter parameter] / reset all</li>
</ul>
</li>
<li>quit - Quit the monitor</li>
<li>help - The QuadCopter Status Monitor Manual</li>
<li>set - Set the parameter of the quadcopter<pre><code>- set [quadcopter parameter] [value] / set update</code></pre>
</li>
</ul>
<h1 id="linenoise-hotkeys">Linenoise hotkeys</h1>
<ul>
<li>To get more informations, please read the LINENOISE.md</li>
</ul>
<h1 id="todo">TODO</h1>

