<h1 id="-mt9v034">影像模組 MT9V034</h1>
<p>我們的影像模組是採用<a href="http://item.taobao.com/item.htm?id=19722144419">MT9V034</a>這顆型號，目前是想讓四軸不只可以穩定的飛行，還可以讓它<strong>空拍</strong>，用影像鏡頭來拍照，並且將圖檔存入SD卡裡面。</p>
<p><a href="https://pixhawk.ethz.ch/"></a><a href="https://pixhawk.ethz.ch/px4/modules/px4flow"><a href="https://pixhawk.ethz.ch/">https://pixhawk.ethz.ch/</a></a><a href="https://pixhawk.ethz.ch/px4/modules/px4flow"> px4/modules/px4flow</a><a href="https://pixhawk.ethz.ch/px4/modules/px4flow">.</a></p>
<p><a href="https://github.com/Hom19910422/QCopterMachineVision"></a><a href="https://github.com/Hom19910422/QCopterMachineVision">https://github.com/Hom19910422/QCopterMachineVision</a></p>
<h2 id="mt9v034-c">mt9v034.c</h2>
<p>[<a href="https://github.com/PX4/Flow/blob/master/src/mt9v034.c">參考PX4 flow程式碼</a>]</p>
<ul>
<li><em>/* Chip Control</em></li>
</ul>
<hr>
<ul>
<li><em>         * bits           | 15 | ... | 9 | 8 | 7 | 6 | 5 | 4 | 3 | 2 | 1 | 0 |</em></li>
</ul>
<hr>
<ul>
<li><em>         * current values | 0  | ... | 0 | 1 | 1 | 0 | 0 | 0 | 1 | 0 | 0 | 0 |</em></li>
</ul>
<hr>
<ul>
<li><em>         * (0:2) Scan Mode (Progressive scan)</em></li>
<li><em>         * (3:4) Sensor Operation Mode (Master mode)</em></li>
<li><em>         * (5) Stereoscopy Mode (Disable)</em></li>
<li><em>         * (6) Stereoscopic Master/Slave mode (not used)</em></li>
<li><em>         * (7) Parallel Output Enable (Enable)</em></li>
<li><em>         * (8) Simultaneous/Sequential Mode (Simultaneous mode)</em></li>
<li><em>         * (9) Reserved</em></li>
</ul>
<hr>
<ul>
<li><em>         * (15)Context A (0) / Context B (1)</em></li>
<li><em>         */</em></li>
</ul>
<p><strong>void</strong> <strong>mt9v034_context_configuration</strong>(<strong>void</strong>)</p>
<ul>
<li>//<em>Configures the mt9v034 camera with two context (binning 4 and binning 2).</em></li>
</ul>
<p><strong>void</strong> <strong>mt9v034_set_context</strong>()</p>
<ul>
<li>//<em>Changes sensor context based on settings</em></li>
</ul>
<p><strong>uint8_t</strong> <strong>mt9v034_WriteReg</strong>(<strong>uint16_t</strong> Addr, <strong>uint8_t</strong> Data)</p>
<ul>
<li>//<em>Writes a byte at a specific Camera register</em></li>
</ul>
<p><strong>uint8_t</strong> <strong>mt9v034_WriteReg16</strong>(<strong>uint16_t</strong> address, <strong>uint16_t</strong> Data)</p>
<ul>
<li>//<em>Writes to a specific Camera register</em></li>
</ul>
<p><strong>uint8_t</strong> <strong>mt9v034_ReadReg</strong>(<strong>uint16_t</strong> Addr)</p>
<ul>
<li>//<em>Reads a byte from a specific Camera register</em></li>
</ul>
<p><strong>uint16_t</strong> <strong>mt9v034_ReadReg16</strong>(<strong>uint8_t</strong> address)</p>
<ul>
<li>//<em>Reads from a specific Camera register</em></li>
</ul>
<h2 id="mt9v034-pin">mt9v034  Pin</h2>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_FHBw4daIJbY_p.88862_1387717723192_未命名.png" alt=""></p>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_FHBw4daIJbY_p.88862_1387717669067_48pin.png" alt=""></p>
<h2 id="mt9v032-">MT9V032主要参数：</h2>
<ul>
<li>感光面积是1/3英寸，像素是Wide-<u>VGA</u>，752*480,输入27M时钟时，它全帧输出速度为60帧/秒。</li>
<li>快门方式；CMOS的快门方式一般有两种，卷帘快门(<u>Rolling shutter</u>)与全局快门(global shutter)，本模块是Global <u>shutter</u>。它们的区别将在后边加以描述。</li>
<li>灵敏度；4.8V/<u>lux</u>-<u>sec</u>，就是单位光强照在传感器上1秒钟话，传感器可以输出4.8V的电压。一般CMOS有0.5V，0.7V的，多数是1.0V的，还有2.1V，4.8V绝对CMOS中的亮点了，很暗的光线时它都可以清晰的成像。</li>
<li>动态范围；&gt;55dB <u>linear</u>;  &gt;100dB - 110dB in HiDy <u>mode</u>;本模块支持超宽动态，具体在后边描述。</li>
<li>接口；10Bit 并口; LVDS，支持立体（双目）视觉.</li>
</ul>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_FHBw4daIJbY_p.88549_1387801133805_DCMI.png" alt=""></p>

