<!DOCTYPE  html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>doc</title>
    <style>
      /*github.com style (c) Vasily Polovnyov <vast@whiteants.net>*/
      pre code {
        display: block; padding: 0.5em;
        color: #333;
        background: #f8f8ff
      }
      pre .comment,
      pre .template_comment,
      pre .diff .header,
      pre .javadoc {
        color: #998;
        font-style: italic
      }
      pre .keyword,
      pre .css .rule .keyword,
      pre .winutils,
      pre .javascript .title,
      pre .nginx .title,
      pre .subst,
      pre .request,
      pre .status {
        color: #333;
        font-weight: bold
      }
      pre .number,
      pre .hexcolor,
      pre .ruby .constant {
        color: #099;
      }
      pre .string,
      pre .tag .value,
      pre .phpdoc,
      pre .tex .formula {
        color: #d14
      }
      pre .title,
      pre .id {
        color: #900;
        font-weight: bold
      }
      pre .javascript .title,
      pre .lisp .title,
      pre .clojure .title,
      pre .subst {
        font-weight: normal
      }
      pre .class .title,
      pre .haskell .type,
      pre .vhdl .literal,
      pre .tex .command {
        color: #458;
        font-weight: bold
      }
      pre .tag,
      pre .tag .title,
      pre .rules .property,
      pre .django .tag .keyword {
        color: #000080;
        font-weight: normal
      }
      pre .attribute,
      pre .variable,
      pre .lisp .body {
        color: #008080
      }
      pre .regexp {
        color: #009926
      }
      pre .class {
        color: #458;
        font-weight: bold
      }
      pre .symbol,
      pre .ruby .symbol .string,
      pre .lisp .keyword,
      pre .tex .special,
      pre .prompt {
        color: #990073
      }
      pre .built_in,
      pre .lisp .title,
      pre .clojure .built_in {
        color: #0086b3
      }
      pre .preprocessor,
      pre .pi,
      pre .doctype,
      pre .shebang,
      pre .cdata {
        color: #999;
        font-weight: bold
      }
      pre .deletion {
        background: #fdd
      }
      pre .addition {
        background: #dfd
      }
      pre .diff .change {
        background: #0086b3
      }
      pre .chunk {
        color: #aaa
      }
    </style>
  </head>
  <body>  
    <h1 id="discussion-record">Discussion Record</h1>
<p><u>Because of we have foreigner who is not familiar with Chinese.(<strong>Quadrotor Master</u></strong><u>) Please use English to express your opinion. .. </u>(I&#39;m not a Master, but thanks for using English [Ming])</p>
<ul>
<li><p>I know you write it ~ it has record. lol</p>
<p><u>盡量用英文寫，真的無法以英文描述再用中文表示</u></p>
</li>
</ul>
<h2 id="11-8-short-discussion">11/8 short discussion</h2>
<p><ul class="comment"><li>Ming, Could you give me some module links?</p>
<ul>
<li><p>ok, down there ~
</ul class="comment"></p>
</li>
<li><p>找一下資料看還有什麼要補充的</p>
</li>
<li><p><strong>Sensors</strong>: Gyro, accelerometer(9 degree of freedom)</p>
<pre><code>*   Gyroscope L3G4200 : [](http://www.pololu.com/file/0J491/L3G4200D.pdf)[http://www.pololu.com/file/0J491/L3G4200D.pdf](http://www.pololu.com/file/0J491/L3G4200D.pdf)</code></pre>
<ul>
<li>Accelerometer ADXL345 : <a href="http://www.analog.com/static/imported-files/data_sheets/ADXL345.pdf"></a><a href="http://www.analog.com/static/imported-files/data_sheets/ADXL345.pdf"><a href="http://www.analog.com/static/imported-files/data_sheets/ADXL345.pdf">http://www.analog.com/static/imported-files/data_sheets/ADXL345.pdf</a></a></li>
<li>Magnetometer HMC5883L : <a href="http://www51.honeywell.com/aero/common/documents/myaerospacecatalog-documents/Defense_Brochures-documents/HMC5883L_3-Axis_Digital_Compass_IC.pdf"></a><a href="http://www51.honeywell.com/aero/common/documents/myaerospacecatalog-documents/Defense_Brochures-documents/HMC5883L_3-Axis_Digital_Compass_IC.pdf"><a href="http://www51.honeywell.com/aero/common/documents/myaerospacecatalog-documents/Defense_Brochures-documents/HMC5883L_3-Axis_Digital_Compass_IC.pdf">http://www51.honeywell.com/aero/common/documents/myaerospacecatalog-documents/Defense_Brochures-documents/HMC5883L_3-Axis_Digital_Compass_IC.pdf</a></a></li>
<li>Barometer BMP085 : <a href="http://www.adafruit.com/datasheets/BMP085_DataSheet_Rev.1.0_01July2008.pdf"></a><a href="http://www.adafruit.com/datasheets/BMP085_DataSheet_Rev.1.0_01July2008.pdf"><a href="http://www.adafruit.com/datasheets/BMP085_DataSheet_Rev.1.0_01July2008.pdf">http://www.adafruit.com/datasheets/BMP085_DataSheet_Rev.1.0_01July2008.pdf</a></a></li>
</ul>
</li>
<li><p><strong>Actuators</strong>: ESC(electronic speed controller), Motor</p>
</li>
<li><p><strong>Wireless Communication</strong>: WIFI data link, PWM remoter(?)</p>
</li>
<li><p><strong>Quadrotor Frame</strong></p>
</li>
<li><p>Conclusion: We need to pack these<em> </em>&#39;peripheral&#39; driver more easy-to-use.</p>
</li>
<li><p><s>簡而言之，必須將上述MCU的週邊設備driver包裝成api讓上層應用程式使用，在下周之後會分配大家整理好這些週邊設備的driveru</s></p>
</li>
<li><p>已要使用Hom的飛控</p>
</li>
<li><p>Reference</p>
<pre><code>*   [](https://github.com/Hom19910422/QCopterFlightControl)https://github.com/Hom19910422/QCopterFlightControl</code></pre>
<ul>
<li><a href="https://github.com/PX4/Flow"></a><a href="https://github.com/PX4/Flow">https://github.com/PX4/Flow</a></li>
</ul>
</li>
</ul>
<h2 id="11-22-discussion-with-jserv">11/22 discussion with jserv</h2>
<ul>
<li>We will get this board: <a href="https://github.com/Hom19910422/"></a><a href="https://github.com/Hom19910422/Quadcopter"><a href="https://github.com/Hom19910422/">https://github.com/Hom19910422/</a></a></li>
<li>Need to upload some proposal on Wiki</li>
<li>Budget calculation</li>
<li>receipt from Ming</li>
</ul>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_UerREdNZsRr_p.88549_1385123928699_receipt.jpg" alt=""></p>

  </body>
</html>
