<!DOCTYPE  html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>doc</title>
    <style>
      /*github.com style (c) Vasily Polovnyov <vast@whiteants.net>*/
      pre code {
        display: block; padding: 0.5em;
        color: #333;
        background: #f8f8ff
      }
      pre .comment,
      pre .template_comment,
      pre .diff .header,
      pre .javadoc {
        color: #998;
        font-style: italic
      }
      pre .keyword,
      pre .css .rule .keyword,
      pre .winutils,
      pre .javascript .title,
      pre .nginx .title,
      pre .subst,
      pre .request,
      pre .status {
        color: #333;
        font-weight: bold
      }
      pre .number,
      pre .hexcolor,
      pre .ruby .constant {
        color: #099;
      }
      pre .string,
      pre .tag .value,
      pre .phpdoc,
      pre .tex .formula {
        color: #d14
      }
      pre .title,
      pre .id {
        color: #900;
        font-weight: bold
      }
      pre .javascript .title,
      pre .lisp .title,
      pre .clojure .title,
      pre .subst {
        font-weight: normal
      }
      pre .class .title,
      pre .haskell .type,
      pre .vhdl .literal,
      pre .tex .command {
        color: #458;
        font-weight: bold
      }
      pre .tag,
      pre .tag .title,
      pre .rules .property,
      pre .django .tag .keyword {
        color: #000080;
        font-weight: normal
      }
      pre .attribute,
      pre .variable,
      pre .lisp .body {
        color: #008080
      }
      pre .regexp {
        color: #009926
      }
      pre .class {
        color: #458;
        font-weight: bold
      }
      pre .symbol,
      pre .ruby .symbol .string,
      pre .lisp .keyword,
      pre .tex .special,
      pre .prompt {
        color: #990073
      }
      pre .built_in,
      pre .lisp .title,
      pre .clojure .built_in {
        color: #0086b3
      }
      pre .preprocessor,
      pre .pi,
      pre .doctype,
      pre .shebang,
      pre .cdata {
        color: #999;
        font-weight: bold
      }
      pre .deletion {
        background: #fdd
      }
      pre .addition {
        background: #dfd
      }
      pre .diff .change {
        background: #0086b3
      }
      pre .chunk {
        color: #aaa
      }
    </style>
  </head>
  <body>  
    <h1 id="global-structure-">global structure 變數解釋</h1>
<p>enum </p>
<p>   {</p>
<pre><code>    PWM1_CCR=0, //pwm input capture connect to radio control ch1

    PWM2_CCR, //pwm input capture connect to radio control ch2

    PWM3_CCR,//pwm input capture connect to radio control ch3

    PWM4_CCR,//pwm input capture connect to radio control ch4

    PWM5_CCR,//pwm input capture connect to radio control ch5

    RC_EXP_ROLL,//expectation  of roll angle

    RC_EXP_PITCH,//expectation  of pitch angle

    RC_EXP_YAW,//expectation  of yaw angle

    RC_EXP_THR,//expectation  of throttle value

    TRUE_ROLL,//the roll angle which calculate by AHRS

    TRUE_PITCH,//the roll angle which calculate by AHRS

    TRUE_YAW,//the roll angle which calculate by AHRS

    NO_RC_SIGNAL_MSG,//No radio control signal status

    PID_ROLL,//the value of pid output, this directly means PWM CCR

    PID_PITCH,//the value of pid output, this directly means PWM CCR

    PID_YAW,//the value of pid output, this directly means PWM CCR

    MOTOR1,//Motor 1 CCR(PWM9 )

    MOTOR2,//Motor 2 CCR(PWM10)

    MOTOR3,//Motor 3 CCR(PWM11)

    MOTOR4,//Motor 4 CCR(PWM12)

    GLOABAL_PARAM_COUNT</code></pre>
<p>};</p>

  </body>
</html>
