<!DOCTYPE  html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>doc</title>
    <style>
      /*github.com style (c) Vasily Polovnyov <vast@whiteants.net>*/
      pre code {
        display: block; padding: 0.5em;
        color: #333;
        background: #f8f8ff
      }
      pre .comment,
      pre .template_comment,
      pre .diff .header,
      pre .javadoc {
        color: #998;
        font-style: italic
      }
      pre .keyword,
      pre .css .rule .keyword,
      pre .winutils,
      pre .javascript .title,
      pre .nginx .title,
      pre .subst,
      pre .request,
      pre .status {
        color: #333;
        font-weight: bold
      }
      pre .number,
      pre .hexcolor,
      pre .ruby .constant {
        color: #099;
      }
      pre .string,
      pre .tag .value,
      pre .phpdoc,
      pre .tex .formula {
        color: #d14
      }
      pre .title,
      pre .id {
        color: #900;
        font-weight: bold
      }
      pre .javascript .title,
      pre .lisp .title,
      pre .clojure .title,
      pre .subst {
        font-weight: normal
      }
      pre .class .title,
      pre .haskell .type,
      pre .vhdl .literal,
      pre .tex .command {
        color: #458;
        font-weight: bold
      }
      pre .tag,
      pre .tag .title,
      pre .rules .property,
      pre .django .tag .keyword {
        color: #000080;
        font-weight: normal
      }
      pre .attribute,
      pre .variable,
      pre .lisp .body {
        color: #008080
      }
      pre .regexp {
        color: #009926
      }
      pre .class {
        color: #458;
        font-weight: bold
      }
      pre .symbol,
      pre .ruby .symbol .string,
      pre .lisp .keyword,
      pre .tex .special,
      pre .prompt {
        color: #990073
      }
      pre .built_in,
      pre .lisp .title,
      pre .clojure .built_in {
        color: #0086b3
      }
      pre .preprocessor,
      pre .pi,
      pre .doctype,
      pre .shebang,
      pre .cdata {
        color: #999;
        font-weight: bold
      }
      pre .deletion {
        background: #fdd
      }
      pre .addition {
        background: #dfd
      }
      pre .diff .change {
        background: #0086b3
      }
      pre .chunk {
        color: #aaa
      }
    </style>
  </head>
  <body>  
    <h1 id="-uvision-linux-gnu-toolchain-">從uVision移植至linux gnu toolchain編譯環境</h1>
<p>Sourcery CodeBench Lite 2012.03-56</p>
<p><a href="https://sourcery.mentor.com/GNUToolchain/release2188"></a><a href="https://sourcery.mentor.com/GNUToolchain/release2188">https://sourcery.mentor.com/GNUToolchain/release2188</a></p>
<ul>
<li>Compiler Control String
*</li>
</ul>
<p>-c --cpu Cortex-M4.fp -D<strong>EVAL -D</strong>MICROLIB -g -O0 --apcs=interwork -I..\ -I..\Libraries\CMSIS -I..\Libraries\CMSIS\startup -I..\Libraries\STM32F4xx_StdPeriph_Driver\inc -I..\Libraries\STM32F4xx_StdPeriph_Driver\src -I..\Program_Dirver -I..\Program_Algorithm -I..\Program_System -I..\Program_Module -I C:\Keil\ARM\RV31\Inc -I C:\Keil\ARM\CMSIS\Include -I C:\Keil\ARM\Inc\ST\STM32F4xx -DSTM32F40XX -DUSE_STDPERIPH_DRIVER -D<strong>FPU_PRESENT=&quot;1&quot; -D</strong>FPU_USED=&quot;1&quot; -DARM_MATH_CM4 -D__CC_ARM -o &quot;.\Obj*.o&quot; --omf_browse &quot;.\Obj*.crf&quot; --depend &quot;.\Obj*.d&quot;</p>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_OcWf9PMTrRk_p.88549_1385907873406_%E6%93%B7%E5%8F%962.PNG" alt=""></p>

  </body>
</html>
