<!DOCTYPE  html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>doc</title>
    <style>
      /*github.com style (c) Vasily Polovnyov <vast@whiteants.net>*/
      pre code {
        display: block; padding: 0.5em;
        color: #333;
        background: #f8f8ff
      }
      pre .comment,
      pre .template_comment,
      pre .diff .header,
      pre .javadoc {
        color: #998;
        font-style: italic
      }
      pre .keyword,
      pre .css .rule .keyword,
      pre .winutils,
      pre .javascript .title,
      pre .nginx .title,
      pre .subst,
      pre .request,
      pre .status {
        color: #333;
        font-weight: bold
      }
      pre .number,
      pre .hexcolor,
      pre .ruby .constant {
        color: #099;
      }
      pre .string,
      pre .tag .value,
      pre .phpdoc,
      pre .tex .formula {
        color: #d14
      }
      pre .title,
      pre .id {
        color: #900;
        font-weight: bold
      }
      pre .javascript .title,
      pre .lisp .title,
      pre .clojure .title,
      pre .subst {
        font-weight: normal
      }
      pre .class .title,
      pre .haskell .type,
      pre .vhdl .literal,
      pre .tex .command {
        color: #458;
        font-weight: bold
      }
      pre .tag,
      pre .tag .title,
      pre .rules .property,
      pre .django .tag .keyword {
        color: #000080;
        font-weight: normal
      }
      pre .attribute,
      pre .variable,
      pre .lisp .body {
        color: #008080
      }
      pre .regexp {
        color: #009926
      }
      pre .class {
        color: #458;
        font-weight: bold
      }
      pre .symbol,
      pre .ruby .symbol .string,
      pre .lisp .keyword,
      pre .tex .special,
      pre .prompt {
        color: #990073
      }
      pre .built_in,
      pre .lisp .title,
      pre .clojure .built_in {
        color: #0086b3
      }
      pre .preprocessor,
      pre .pi,
      pre .doctype,
      pre .shebang,
      pre .cdata {
        color: #999;
        font-weight: bold
      }
      pre .deletion {
        background: #fdd
      }
      pre .addition {
        background: #dfd
      }
      pre .diff .change {
        background: #0086b3
      }
      pre .chunk {
        color: #aaa
      }
    </style>
  </head>
  <body>  
    <h1 id="-">直流無刷馬達原理</h1>
<p>直流無刷馬達的設計，主要是解決直流馬達的電刷與換相器的維護問題。其動作原理與有刷式直流馬達最大的不同，在於改以<strong>電子式的換相</strong>，而使達到轉子與定子磁場保持在 90 相位差的目的，在配合適當的驅動電路、有效控制換相時序，可以提高效率或增加轉速範圍。無刷馬達是靠線圈產生磁場讓電樞運轉，因為少了電刷與軸的摩擦因此較省電也比較安靜.</p>
<p>實際馬達硬體的設計上，一般直流無刷馬達的轉子採<strong>用永久磁鐵</strong>，定子上則繞以<strong>三相</strong>的線圈。</p>
<p><strong>有刷與無刷的比較：</strong></p>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_Y38T9JXygI8_p.88862_1385573045457_%E6%9C%AA%E5%91%BD%E5%90%8D.bmp" alt=""></p>
<p><strong>直流無刷馬達驅動原理</strong> ：</p>
<ul>
<li>最基本之驅動法為<strong>120˚導電方式</strong> (亦即<strong>六步驅動模式</strong>) </li>
<li>將6個IGBT施以單純之<strong>ON/OFF控制信號</strong>。 </li>
</ul>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_Y38T9JXygI8_p.88862_1385573580974_%E6%9C%AA%E5%91%BD%E5%90%8D.bmp" alt=""></p>

  </body>
</html>
