<!DOCTYPE  html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>doc</title>
    <style>
      /*github.com style (c) Vasily Polovnyov <vast@whiteants.net>*/
      pre code {
        display: block; padding: 0.5em;
        color: #333;
        background: #f8f8ff
      }
      pre .comment,
      pre .template_comment,
      pre .diff .header,
      pre .javadoc {
        color: #998;
        font-style: italic
      }
      pre .keyword,
      pre .css .rule .keyword,
      pre .winutils,
      pre .javascript .title,
      pre .nginx .title,
      pre .subst,
      pre .request,
      pre .status {
        color: #333;
        font-weight: bold
      }
      pre .number,
      pre .hexcolor,
      pre .ruby .constant {
        color: #099;
      }
      pre .string,
      pre .tag .value,
      pre .phpdoc,
      pre .tex .formula {
        color: #d14
      }
      pre .title,
      pre .id {
        color: #900;
        font-weight: bold
      }
      pre .javascript .title,
      pre .lisp .title,
      pre .clojure .title,
      pre .subst {
        font-weight: normal
      }
      pre .class .title,
      pre .haskell .type,
      pre .vhdl .literal,
      pre .tex .command {
        color: #458;
        font-weight: bold
      }
      pre .tag,
      pre .tag .title,
      pre .rules .property,
      pre .django .tag .keyword {
        color: #000080;
        font-weight: normal
      }
      pre .attribute,
      pre .variable,
      pre .lisp .body {
        color: #008080
      }
      pre .regexp {
        color: #009926
      }
      pre .class {
        color: #458;
        font-weight: bold
      }
      pre .symbol,
      pre .ruby .symbol .string,
      pre .lisp .keyword,
      pre .tex .special,
      pre .prompt {
        color: #990073
      }
      pre .built_in,
      pre .lisp .title,
      pre .clojure .built_in {
        color: #0086b3
      }
      pre .preprocessor,
      pre .pi,
      pre .doctype,
      pre .shebang,
      pre .cdata {
        color: #999;
        font-weight: bold
      }
      pre .deletion {
        background: #fdd
      }
      pre .addition {
        background: #dfd
      }
      pre .diff .change {
        background: #0086b3
      }
      pre .chunk {
        color: #aaa
      }
    </style>
  </head>
  <body>  
    <h1 id="-"><strong>四軸飛高高海報專區</strong></h1>
<h2 id="-">內容</h2>
<p>指導老師:黃敬群</p>
<p>組員:黃大峯、劉政德、楊承翰、鄭聖文</p>
<p>摘要：本專題以<a href="http://www.st.com/web/catalog/mmc/FM141/SC1169/SS1577/LN1035/PF252144">STM32F405R</a>G(ARM Cortex M4)為基礎嵌入式系統架構，在Linux環境下開發四軸飛行器，移植FreeRTOS作業系統到飛控板，並經由飛控板進行控制，過程中透過PWM輸入訊號控制四顆無刷直流馬達(BLDC)，藉由三軸陀螺儀與三軸加速規計算其姿態角，再經由PID控制器來控制其姿態達成穩定的飛行模式。</p>
<p>功能：</p>
<p>· Support commercial R/C remoter(Futaba)</p>
<p>· Support linenoise text editing environment with a Shell</p>
<p>· Shell commands </p>
<p>· QuadCopter status monitor</p>
<p>· Online tuning PID parameter</p>
<p>· Save information in SD Card</p>
<p>圖片文字大約位置擺放：</p>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_NcfzuQiG05v_p.88862_1388810374493_ok.png" alt=""></p>
<p> P.S.目前缺四軸實體圖看還需要什麼圖這邊貼給我,word集中我這邊修改</p>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_NcfzuQiG05v_p.88862_1388753275463_DSCF4390.JPG" alt=""></p>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_NcfzuQiG05v_p.88862_1388810408799_DSCF4391.JPG" alt=""></p>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_NcfzuQiG05v_p.94311_1388655126576_QCopterFC_System.png" alt=""></p>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_NcfzuQiG05v_p.88862_1388744696513_hackpad.com_Y38T9JXygI8_p.88862_1388674362841_System_Structure.bmp.png" alt=""></p>
<p><img src="/static/img/misc/status-ball.gif" alt=""></p>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_NcfzuQiG05v_p.88549_1388756487153_WEB_GUI .png" alt=""></p>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_NcfzuQiG05v_p.88549_1388756494972_acc_plot.png" alt=""><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_NcfzuQiG05v_p.88549_1388756494991_angular_rate_plot.png" alt=""> </p>
<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_NcfzuQiG05v_p.88862_1388843099366_123.bmp" alt=""></p>

  </body>
</html>
