<!DOCTYPE  html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>doc</title>
    <style>
      /*github.com style (c) Vasily Polovnyov <vast@whiteants.net>*/
      pre code {
        display: block; padding: 0.5em;
        color: #333;
        background: #f8f8ff
      }
      pre .comment,
      pre .template_comment,
      pre .diff .header,
      pre .javadoc {
        color: #998;
        font-style: italic
      }
      pre .keyword,
      pre .css .rule .keyword,
      pre .winutils,
      pre .javascript .title,
      pre .nginx .title,
      pre .subst,
      pre .request,
      pre .status {
        color: #333;
        font-weight: bold
      }
      pre .number,
      pre .hexcolor,
      pre .ruby .constant {
        color: #099;
      }
      pre .string,
      pre .tag .value,
      pre .phpdoc,
      pre .tex .formula {
        color: #d14
      }
      pre .title,
      pre .id {
        color: #900;
        font-weight: bold
      }
      pre .javascript .title,
      pre .lisp .title,
      pre .clojure .title,
      pre .subst {
        font-weight: normal
      }
      pre .class .title,
      pre .haskell .type,
      pre .vhdl .literal,
      pre .tex .command {
        color: #458;
        font-weight: bold
      }
      pre .tag,
      pre .tag .title,
      pre .rules .property,
      pre .django .tag .keyword {
        color: #000080;
        font-weight: normal
      }
      pre .attribute,
      pre .variable,
      pre .lisp .body {
        color: #008080
      }
      pre .regexp {
        color: #009926
      }
      pre .class {
        color: #458;
        font-weight: bold
      }
      pre .symbol,
      pre .ruby .symbol .string,
      pre .lisp .keyword,
      pre .tex .special,
      pre .prompt {
        color: #990073
      }
      pre .built_in,
      pre .lisp .title,
      pre .clojure .built_in {
        color: #0086b3
      }
      pre .preprocessor,
      pre .pi,
      pre .doctype,
      pre .shebang,
      pre .cdata {
        color: #999;
        font-weight: bold
      }
      pre .deletion {
        background: #fdd
      }
      pre .addition {
        background: #dfd
      }
      pre .diff .change {
        background: #0086b3
      }
      pre .chunk {
        color: #aaa
      }
    </style>
  </head>
  <body>  
    <h1 id="-stm32-timer-input-capture-pwm-">如何用STM32 Timer Input Capture  計算 PWM訊號寬度</h1>
<p>　　雖然STM32可以使用PWM Input Capture簡單的去計算PWM的脈波頻率以及其Duty Cycle，但是會遇到一個問題，開啟PWM Input Capture會占用兩個Timer的通道，這樣如果我想要接收五動的遙控器訊號，這樣會用到5個Timer，這樣會浪費太多Timer而且實際面我們飛控板並沒有這麼多接腳。</p>
<ul>
<li>在我實驗中只有開啟Timer4然後使用CH1和CH2的CCR</li>
</ul>
<p>　　第一，我們要知道RC訊號控制機器的重點為高電位的時間(Pulse Width)，頻率反而不是我們所需要注重的地方，所以我只需要去抓取高電位的時間。第二，Timer Input Capture有三種模式可以觸發，Rising,Falling,BothEdge，如果我利用計算的方式或者改變觸發條件的Polarity就可以計算出脈波寬。第三個要注意到Time Base和計數器CCR，Timebase 一定要比PWM頻率高(取樣定理)，還有計數器是否會Overflow。</p>
<p>*</p>

  </body>
</html>
